<!doctype html>
<html ng-app="todoApp">
<head>
  <title>ChatBox - DAHLEM</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="css/chatbox.css">
  <script src="js/chatBox.js"></script>
</head>
<body>
  <div class="container" ng-controller="ChatController">
    <div class="contacts">
      <ul>
        <li>
          <p style="text-align: center;padding-top: 1.5em">{{user.name | uppercase}}</p>
        </li>
        <li>
          <p style="text-align: center;padding-top: 1em"><i class="material-icons">wc</i></p>
          <button ng-click="accessMyAccount()">Modifier Compte</button>
        </li>
        <li>
          <p style="text-align: center;padding-top: 1.5em">Discuter</p>
          <button ng-click="resetMessages()">Discuter</button>
        </li>
        <li>
          <p style="text-align: center;padding-top: 1.5em">Voir toute l'actualité</p>
          <button ng-click="showActualities()">Voir</button>
        </li>
        <li>
          <p style="text-align: center;padding-top: 1.5em">Voir les commandes</p>
          <button ng-click="help()">Voir</button>
        </li>
        <li>
          <p style="text-align: center;padding-top: 1.5em">Réinitialiser la conversation</p>
          <button ng-click="resetMessages()">Réinitialiser</button>
        </li>
      </ul>
    </div>
    <div class="messages">
      <ul ng-if="showActu === false && showCommand === false && showAccount === false">
        <li ng-repeat="mes in messages">
          <span ng-if="mes.user == 'user'" class="user">
            <span class="date">Vous à {{mes.date}} :</span><br/>{{mes.text}}
          </span>
          <span ng-if="mes.user == 'bot'" class="bot"><span class="date">Ordinateur à {{mes.date}} :</span> <br/>{{mes.text}}</span>
        </li>
      </ul>
      <div ng-if="showActu === true">
        <div ng-repeat="message in messages">
          <div class="actuality">{{message}}</div>
        </div>
      </div>
      <div ng-if="showCommand === true">
        <div ng-repeat="message in messages">
          <div class="actuality">{{message}}</div>
        </div>
      </div>
      <div ng-if="showAccount === true">
        <form class="account-form white-text">
          <h2 style="margin:0;padding: 1em;">Modification des informations personnelles : </h2>
          <div style="border-top: 1px solid black; width:100%">

          </div>
          <div style="margin: 1.5em; width :10%;">
            <label for="name" style="width:100%;">Votre prénom</label>
            <input id="name" ng-model="user.name" type="text" style="width:100%; background-color:#d6d6d6;border: 0;" name="" value="" placeholder="" >
          </div>
        </form>
      </div>
    </div>
    <form class="form">
      <div class="form-inner">
        <input ng-if="showActu === false && showCommand === false && showAccount === false" ng-model="message.text" type="text" name="" value="" placeholder="Ecrire un message" >
        <button  ng-if="showActu === false && showCommand === false" ng-click="addMessageUser()">✚</button>
        <button  ng-if="showActu === true || showCommand === true" ng-click="resetMessages()" style="background-color: red;"><i class="material-icons">clear</i></button>
      </div>
    </form>
  </div>
  <script>!function () {
    var container = document.querySelector('.container');
    var stackWrap = document.querySelector('.stack-wrap');
    var contacts = document.querySelector('.contacts');
    var messages = document.querySelector('.messages');
    var small, limiter;

    function relayout () {
      var width = window.innerWidth;
      if (!small && width < 600) {
        small = true;
        container.classList.add('small-screen');
        stackWrap.appendChild(contacts);
        stackWrap.appendChild(messages);
      } else if (small && width >= 600) {
        small = false;
        container.classList.remove('small-screen');
        container.insertBefore(contacts, stackWrap);
        container.insertBefore(messages, stackWrap);
      }
    }

    window.addEventListener('resize', function () {
      clearTimeout(limiter);
      limiter = setTimeout(relayout, 100);
    });

    relayout();
  }();
</script>
</body>